.sign-in {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  background-color: #89c0f2;
  border-radius: 50px;
}

.sign-in .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Miriam Libre", Helvetica;
  font-weight: 700;
  color: #6a6868;
  font-size: 32px;
  letter-spacing: 2.88px;
  line-height: normal;
}
